openapi: 3.0.3
info:
  title: Vault Internal API
  description: |
    **Internal/Privileged API for Vault SaaS Platform**
    
    This API is designed for internal services and the SaaS platform website to manage:
    - Tenant provisioning and lifecycle
    - Cross-tenant operations
    - System-wide configuration
    - Billing and subscription management
    - Platform analytics
    
    ## Authentication
    
    This API requires **Service-to-Service** authentication via:
    - API Key (`X-API-Key` header) for service accounts
    - OR Internal JWT with `super_admin` role
    
    ```
    X-API-Key: vault_internal_<key>
    ```
    
    ## Authorization Levels
    
    - `super_admin` - Full platform access (all tenants, system config)
    - `service_account` - Limited to specific service scopes
    - `billing_admin` - Access to billing/subscription endpoints
    
    ## Rate Limiting
    
    - Internal endpoints: 1000 requests/minute
    - Provisioning endpoints: 100 requests/minute
  version: 0.1.0
  contact:
    name: Vault Team
  license:
    name: MIT OR Apache-2.0

servers:
  - url: https://api.vault.dev/api/v1/internal
    description: Production
  - url: http://localhost:3000/api/v1/internal
    description: Local development

tags:
  - name: Tenant Management
    description: Create and manage tenants
  - name: Platform Users
    description: Cross-tenant user operations
  - name: Billing
    description: Subscriptions and billing
  - name: Platform Analytics
    description: System-wide metrics
  - name: System Configuration
    description: Global settings and features
  - name: Organizations
    description: Organization management
  - name: Roles & Permissions
    description: Role-based access control
  - name: API Keys
    description: Internal API key management
  - name: Notifications
    description: Admin notifications
  - name: Support
    description: Support tickets and incidents

security:
  - ApiKeyAuth: []

paths:
  # ============ TENANT MANAGEMENT ============
  /tenants:
    get:
      summary: List all tenants
      description: |
        Get paginated list of all tenants on the platform.
        Supports filtering by status, plan, etc.
      operationId: listAllTenants
      tags: [Tenant Management]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [active, suspended, pending_deletion, trial]
        - name: plan
          in: query
          schema:
            type: string
            enum: [free, starter, pro, enterprise]
      responses:
        '200':
          description: List of tenants
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TenantDetailResponse'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      summary: Create new tenant
      description: |
        Provision a new tenant for a customer.
        This is called during the SaaS signup flow.
      operationId: createTenant
      tags: [Tenant Management]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Slug already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /tenants/{tenantId}:
    get:
      summary: Get tenant details
      description: Full tenant information including billing and usage
      operationId: getTenant
      tags: [Tenant Management]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update tenant
      description: Modify tenant settings (plan, limits, etc.)
      operationId: updateTenant
      tags: [Tenant Management]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
      responses:
        '200':
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    delete:
      summary: Delete tenant
      description: |
        Permanently delete a tenant and all associated data.
        Requires super_admin role.
      operationId: deleteTenant
      tags: [Tenant Management]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
        - name: force
          in: query
          schema:
            type: boolean
            default: false
          description: Skip grace period and delete immediately
      responses:
        '200':
          description: Tenant scheduled for deletion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /tenants/{tenantId}/suspend:
    post:
      summary: Suspend tenant
      description: Temporarily disable a tenant (e.g., for billing issues)
      operationId: suspendTenant
      tags: [Tenant Management]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                suspendUntil:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Tenant suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetailResponse'

  /tenants/{tenantId}/activate:
    post:
      summary: Activate tenant
      description: Reactivate a suspended tenant
      operationId: activateTenant
      tags: [Tenant Management]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantDetailResponse'

  /tenants/{tenantId}/migrate:
    post:
      summary: Migrate tenant database
      description: Run migrations or schema updates for a specific tenant
      operationId: migrateTenant
      tags: [Tenant Management]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetVersion:
                  type: string
                  description: Target schema version
      responses:
        '200':
          description: Migration completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  version:
                    type: string
                  duration:
                    type: integer
                    description: Duration in milliseconds

  # ============ PLATFORM USERS ============
  /users:
    get:
      summary: Search users across all tenants
      description: |
        Cross-tenant user search for support and compliance.
        Requires super_admin role.
      operationId: searchAllUsers
      tags: [Platform Users]
      parameters:
        - name: email
          in: query
          schema:
            type: string
          description: Exact or partial email match
        - name: tenantId
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: User search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PlatformUserResponse'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'

  /users/{userId}:
    get:
      summary: Get user across tenants
      description: Get user details including all tenant memberships
      operationId: getPlatformUser
      tags: [Platform Users]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details with memberships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformUserDetailResponse'

  /users/{userId}/impersonate:
    post:
      summary: Generate impersonation token
      description: |
        Create a temporary JWT to impersonate a user for support purposes.
        Requires super_admin role. Action is heavily audited.
      operationId: impersonateUser
      tags: [Platform Users]
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                  description: Which tenant context to impersonate in
                duration:
                  type: integer
                  default: 900
                  description: Token lifetime in seconds (max 3600)
                reason:
                  type: string
                  description: Reason for impersonation (audited)
      responses:
        '200':
          description: Impersonation token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
                  tenantId:
                    type: string

  # ============ BILLING ============
  /billing/subscriptions:
    get:
      summary: List all subscriptions
      description: Get all tenant subscriptions for billing dashboard
      operationId: listSubscriptions
      tags: [Billing]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, past_due, canceled, trialing]
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SubscriptionResponse'

  /billing/tenants/{tenantId}/subscription:
    get:
      summary: Get tenant subscription
      operationId: getSubscription
      tags: [Billing]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'

    patch:
      summary: Update tenant subscription
      description: Change plan, seats, or billing interval
      operationId: updateSubscription
      tags: [Billing]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                plan:
                  type: string
                  enum: [free, starter, pro, enterprise]
                seats:
                  type: integer
                billingInterval:
                  type: string
                  enum: [monthly, annual]
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'

  /billing/tenants/{tenantId}/invoice:
    post:
      summary: Generate invoice
      description: Generate immediate invoice (for manual billing)
      operationId: generateInvoice
      tags: [Billing]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                description:
                  type: string
      responses:
        '200':
          description: Invoice generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceResponse'

  /billing/webhook:
    post:
      summary: Stripe/webhook receiver
      description: Receive and process billing webhooks
      operationId: billingWebhook
      tags: [Billing]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook processed

  # ============ PLATFORM ANALYTICS ============
  /analytics/overview:
    get:
      summary: Platform overview metrics
      description: High-level SaaS metrics (MRR, churn, etc.)
      operationId: getPlatformOverview
      tags: [Platform Analytics]
      responses:
        '200':
          description: Platform metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformOverviewResponse'

  /analytics/tenants:
    get:
      summary: Tenant growth analytics
      description: New tenants, activations, churn over time
      operationId: getTenantAnalytics
      tags: [Platform Analytics]
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date
        - name: to
          in: query
          schema:
            type: string
            format: date
        - name: groupBy
          in: query
          schema:
            type: string
            enum: [day, week, month]
            default: day
      responses:
        '200':
          description: Tenant analytics
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                        newTenants:
                          type: integer
                        activeTenants:
                          type: integer
                        churnedTenants:
                          type: integer

  /analytics/usage:
    get:
      summary: Platform usage metrics
      description: Aggregated usage across all tenants
      operationId: getUsageAnalytics
      tags: [Platform Analytics]
      parameters:
        - name: metric
          in: query
          required: true
          schema:
            type: string
            enum: [activeUsers, logins, apiCalls, storage]
      responses:
        '200':
          description: Usage metrics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                  byTenant:
                    type: array
                    items:
                      type: object
                      properties:
                        tenantId:
                          type: string
                        value:
                          type: number

  # ============ SYSTEM CONFIGURATION ============
  /config/features:
    get:
      summary: List feature flags
      description: Get all platform feature flags
      operationId: listFeatureFlags
      tags: [System Configuration]
      responses:
        '200':
          description: Feature flags
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeatureFlagResponse'

    post:
      summary: Create feature flag
      operationId: createFeatureFlag
      tags: [System Configuration]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeatureFlagRequest'
      responses:
        '201':
          description: Feature flag created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagResponse'

  /config/features/{flagId}:
    patch:
      summary: Update feature flag
      description: Enable/disable or modify rollout
      operationId: updateFeatureFlag
      tags: [System Configuration]
      parameters:
        - name: flagId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                rolloutPercentage:
                  type: integer
                  minimum: 0
                  maximum: 100
                allowedTenants:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Feature flag updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureFlagResponse'

  /config/oauth-providers:
    get:
      summary: List global OAuth providers
      description: OAuth providers available platform-wide
      operationId: listOAuthProviders
      tags: [System Configuration]
      responses:
        '200':
          description: OAuth providers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OAuthProviderConfigResponse'

    post:
      summary: Add OAuth provider
      description: Configure new OAuth provider for all tenants
      operationId: addOAuthProvider
      tags: [System Configuration]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthProviderConfigRequest'
      responses:
        '201':
          description: Provider added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthProviderConfigResponse'

  /maintenance/migrations:
    post:
      summary: Run database migrations
      description: Execute pending migrations across all tenant databases
      operationId: runMigrations
      tags: [Maintenance]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dryRun:
                  type: boolean
                  default: true
                targetVersion:
                  type: string
      responses:
        '200':
          description: Migration results
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        tenantId:
                          type: string
                        status:
                          type: string
                        version:
                          type: string

  /maintenance/backup:
    post:
      summary: Trigger backup
      description: Initiate backup for tenant(s) or entire platform
      operationId: triggerBackup
      tags: [Maintenance]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tenantId:
                  type: string
                  description: Specific tenant, or omit for all
                type:
                  type: string
                  enum: [full, incremental]
                  default: full
      responses:
        '202':
          description: Backup initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobId:
                    type: string
                  status:
                    type: string

  /organizations:
    get:
      summary: List organizations
      description: Platform-wide organizations list
      operationId: listOrganizations
      tags: [Organizations]
      responses:
        '200':
          description: Organizations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationResponse'

  /organizations/{orgId}:
    get:
      summary: Get organization
      description: Organization detail
      operationId: getOrganization
      tags: [Organizations]
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/members:
    get:
      summary: List organization members
      description: Organization members list
      operationId: listOrganizationMembers
      tags: [Organizations]
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMemberResponse'

  /roles:
    get:
      summary: List roles
      description: Role definitions
      operationId: listRoles
      tags: [Roles & Permissions]
      responses:
        '200':
          description: Roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleResponse'
    post:
      summary: Create role
      description: Create a new role
      operationId: createRole
      tags: [Roles & Permissions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'

  /roles/{roleId}:
    patch:
      summary: Update role
      description: Update role definition
      operationId: updateRole
      tags: [Roles & Permissions]
      parameters:
        - name: roleId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoleResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /api-keys:
    get:
      summary: List API keys
      description: List internal API keys
      operationId: listApiKeys
      tags: [API Keys]
      responses:
        '200':
          description: API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeyResponse'
    post:
      summary: Create API key
      description: Create a new API key
      operationId: createApiKey
      tags: [API Keys]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'

  /api-keys/{keyId}:
    delete:
      summary: Delete API key
      description: Revoke an API key
      operationId: deleteApiKey
      tags: [API Keys]
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API key revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications:
    get:
      summary: List notifications
      description: Admin notifications
      operationId: listNotifications
      tags: [Notifications]
      responses:
        '200':
          description: Notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationResponse'

  /notifications/mark-read:
    post:
      summary: Mark notifications read
      description: Mark notifications as read
      operationId: markNotificationsRead
      tags: [Notifications]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkNotificationsReadRequest'
      responses:
        '200':
          description: Updated notifications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotificationResponse'

  /support/tickets:
    get:
      summary: List support tickets
      description: Platform support tickets
      operationId: listSupportTickets
      tags: [Support]
      responses:
        '200':
          description: Support tickets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportTicketResponse'

  /support/incidents:
    get:
      summary: List incidents
      description: Platform incident history
      operationId: listSupportIncidents
      tags: [Support]
      responses:
        '200':
          description: Incidents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportIncidentResponse'

  /support/status:
    get:
      summary: List service status
      description: Current service status
      operationId: listServiceStatus
      tags: [Support]
      responses:
        '200':
          description: Service status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceStatusResponse'

  /billing/invoices:
    get:
      summary: List invoices (platform)
      description: List invoices across all tenants
      operationId: listPlatformInvoices
      tags: [Billing]
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: perPage
          in: query
          schema:
            type: integer
            default: 50
        - name: tenantId
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, open, paid, uncollectible, void]
        - name: createdFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: createdTo
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Invoices
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoices:
                    type: array
                    items:
                      $ref: '#/components/schemas/InvoiceResponse'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: API key missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Insufficient privileges
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object }

    MessageResponse:
      type: object
      properties:
        message: { type: string }

    PaginationResponse:
      type: object
      properties:
        page: { type: integer }
        perPage: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }

    # Tenant Management
    CreateTenantRequest:
      type: object
      required: [name, slug]
      properties:
        name:
          type: string
          description: Display name for the tenant
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
          description: URL-friendly identifier
        plan:
          type: string
          enum: [free, starter, pro, enterprise]
          default: free
        ownerEmail:
          type: string
          format: email
          description: Email of the tenant owner
        ownerName:
          type: string
        customDomain:
          type: string
          description: Custom domain for the tenant

    UpdateTenantRequest:
      type: object
      properties:
        name: { type: string }
        plan:
          type: string
          enum: [free, starter, pro, enterprise]
        limits:
          type: object
          properties:
            maxUsers: { type: integer }
            maxOrganizations: { type: integer }
            maxApiCallsPerMonth: { type: integer }
        settings:
          type: object
          properties:
            allowCustomBranding: { type: boolean }
            allowSso: { type: boolean }
            allowApiAccess: { type: boolean }

    TenantDetailResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        status:
          type: string
          enum: [active, suspended, pending_deletion, trial]
        plan: { type: string }
        customDomain: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt: { type: string, format: date-time, nullable: true }
        owner:
          type: object
          properties:
            id: { type: string }
            email: { type: string }
            name: { type: string }
        limits:
          type: object
          properties:
            maxUsers: { type: integer }
            maxOrganizations: { type: integer }
            maxApiCallsPerMonth: { type: integer }
        usage:
          type: object
          properties:
            currentUsers: { type: integer }
            currentOrganizations: { type: integer }
            apiCallsThisMonth: { type: integer }
        billing:
          type: object
          properties:
            subscriptionId: { type: string }
            status: { type: string }
            currentPeriodStart: { type: string, format: date-time }
            currentPeriodEnd: { type: string, format: date-time }

    # Platform Users
    PlatformUserResponse:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        name: { type: string, nullable: true }
        status: { type: string }
        createdAt: { type: string, format: date-time }
        tenantCount: { type: integer }

    PlatformUserDetailResponse:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        name: { type: string, nullable: true }
        emailVerified: { type: boolean }
        status: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        lastLoginAt: { type: string, format: date-time, nullable: true }
        tenants:
          type: array
          items:
            type: object
            properties:
              tenantId: { type: string }
              tenantName: { type: string }
              tenantSlug: { type: string }
              role: { type: string }
              joinedAt: { type: string, format: date-time }
        mfaEnabled: { type: boolean }
        failedLoginAttempts: { type: integer }

    # Organizations
    OrganizationResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        memberCount: { type: integer }
        role: { type: string }
        ssoEnabled: { type: boolean }
        createdAt: { type: string, format: date-time }

    OrganizationMemberResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string }
        role: { type: string }
        status: { type: string }
        joinedAt: { type: string, format: date-time }

    # Roles & Permissions
    RoleResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        scope: { type: string }
        permissions:
          type: array
          items: { type: string }
        members: { type: integer }
        status: { type: string }

    CreateRoleRequest:
      type: object
      required: [name]
      properties:
        name: { type: string }
        description: { type: string }
        scope: { type: string }
        permissions:
          type: array
          items: { type: string }

    UpdateRoleRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        permissions:
          type: array
          items: { type: string }
        status: { type: string }

    # API Keys
    ApiKeyResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        prefix: { type: string }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        scopes:
          type: array
          items: { type: string }

    CreateApiKeyRequest:
      type: object
      required: [name, scopes]
      properties:
        name: { type: string }
        scopes:
          type: array
          items: { type: string }
        expiresInDays: { type: integer, nullable: true }

    CreateApiKeyResponse:
      type: object
      properties:
        key: { type: string }
        apiKey:
          $ref: '#/components/schemas/ApiKeyResponse'

    # Notifications
    NotificationResponse:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        description: { type: string }
        createdAt: { type: string, format: date-time }
        type: { type: string }
        read: { type: boolean }

    MarkNotificationsReadRequest:
      type: object
      required: [ids]
      properties:
        ids:
          type: array
          items: { type: string }

    # Support
    SupportTicketResponse:
      type: object
      properties:
        id: { type: string }
        subject: { type: string }
        status: { type: string }
        priority: { type: string }
        updatedAt: { type: string, format: date-time }

    SupportIncidentResponse:
      type: object
      properties:
        id: { type: string }
        title: { type: string }
        status: { type: string }
        startedAt: { type: string, format: date-time }

    ServiceStatusResponse:
      type: object
      properties:
        service: { type: string }
        status: { type: string }

    # Billing
    SubscriptionResponse:
      type: object
      properties:
        id: { type: string }
        tenantId: { type: string }
        status:
          type: string
          enum: [active, past_due, canceled, trialing, incomplete]
        plan: { type: string }
        seats: { type: integer }
        seatsUsed: { type: integer }
        billingInterval: { type: string }
        currentPeriodStart: { type: string, format: date-time }
        currentPeriodEnd: { type: string, format: date-time }
        cancelAtPeriodEnd: { type: boolean }
        amount:
          type: object
          properties:
            currency: { type: string }
            perSeat: { type: number }
            total: { type: number }

    InvoiceResponse:
      type: object
      properties:
        id: { type: string }
        tenantId: { type: string }
        status: { type: string }
        amount: { type: number }
        currency: { type: string }
        description: { type: string }
        createdAt: { type: string, format: date-time }
        pdfUrl: { type: string, format: uri }

    # Platform Analytics
    PlatformOverviewResponse:
      type: object
      properties:
        tenants:
          type: object
          properties:
            total: { type: integer }
            active: { type: integer }
            trial: { type: integer }
            newThisMonth: { type: integer }
        users:
          type: object
          properties:
            total: { type: integer }
            activeToday: { type: integer }
        revenue:
          type: object
          properties:
            mrr: { type: number }
            arr: { type: number }
            currency: { type: string }
        system:
          type: object
          properties:
            totalApiCalls24h: { type: integer }
            averageLatency: { type: number }
            errorRate: { type: number }

    # System Configuration
    FeatureFlagResponse:
      type: object
      properties:
        id: { type: string }
        key: { type: string }
        name: { type: string }
        description: { type: string }
        enabled: { type: boolean }
        rolloutPercentage: { type: integer }
        allowedTenants:
          type: array
          items: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    CreateFeatureFlagRequest:
      type: object
      required: [key, name]
      properties:
        key:
          type: string
          pattern: '^[a-z0-9_]+$'
        name: { type: string }
        description: { type: string }
        enabled: { type: boolean, default: false }
        rolloutPercentage: { type: integer, default: 0 }

    OAuthProviderConfigResponse:
      type: object
      properties:
        id: { type: string }
        provider: { type: string }
        name: { type: string }
        enabled: { type: boolean }
        clientId: { type: string }
        scopes:
          type: array
          items: { type: string }
        allowTenantOverride: { type: boolean }

    OAuthProviderConfigRequest:
      type: object
      required: [provider, name, clientId, clientSecret]
      properties:
        provider:
          type: string
          enum: [google, github, microsoft, apple, discord, slack, okta]
        name: { type: string }
        clientId: { type: string }
        clientSecret: { type: string }
        scopes:
          type: array
          items: { type: string }
        enabled: { type: boolean, default: true }
        allowTenantOverride: { type: boolean, default: true }
