openapi: 3.0.3
info:
  title: Vault Admin API
  description: |
    **Administrative API for Vault** - User and system management for administrators.
    
    This API is designed for admin dashboards and management tools. It provides:
    - Full user management (CRUD, suspend, audit)
    - Organization management (as admin)
    - Tenant configuration
    - Audit logs access
    - System settings
    
    ## Authentication
    
    All endpoints require:
    1. JWT Bearer token (same as Client API)
    2. Admin role (`admin` or `owner`)
    
    ```
    Authorization: Bearer <jwt-token>
    ```
    
    ## Authorization
    
    Endpoints have role-based access:
    - `owner` - Full access to everything
    - `admin` - Can manage users and orgs, cannot delete tenant
    
    ## Multi-Tenancy
    
    Admin requests are scoped to a tenant. Admins can only manage resources within their tenant.
  version: 0.1.0
  contact:
    name: Vault Team
  license:
    name: MIT OR Apache-2.0

servers:
  - url: https://api.vault.dev/api/v1/admin
    description: Production
  - url: http://localhost:3000/api/v1/admin
    description: Local development

tags:
  - name: Dashboard
    description: Admin dashboard stats and overview
  - name: User Management
    description: Manage users (CRUD, suspend, etc.)
  - name: Organization Management
    description: Manage all organizations
  - name: SSO
    description: Enterprise SSO connections and org-level SSO
  - name: SCIM
    description: SCIM provisioning endpoints
  - name: Branding
    description: Hosted auth UI theming and branding
  - name: Roles & Permissions
    description: Custom organization roles and permissions
  - name: Domains
    description: Verified organization domains
  - name: Audit Logs
    description: Access audit trail
  - name: Audit Exports
    description: Audit export jobs and streaming webhooks
  - name: Directory
    description: Directory connectors (LDAP, etc.)
  - name: Security Policies
    description: Step-up and security policies
  - name: Tenant Settings
    description: Tenant configuration
  - name: System
    description: System-level operations

paths:
  # ============ DASHBOARD ============
  /dashboard:
    get:
      summary: Get admin dashboard stats
      operationId: getDashboard
      tags: [Dashboard]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /dashboard/metrics:
    get:
      summary: Get detailed metrics
      operationId: getMetrics
      tags: [Dashboard]
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          schema:
            type: string
            format: date-time
          description: Start date for metrics
        - name: to
          in: query
          schema:
            type: string
            format: date-time
          description: End date for metrics
      responses:
        '200':
          description: Metrics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============ USER MANAGEMENT ============
  /users:
    get:
      summary: List all users
      description: |
        Get paginated list of all users in the tenant.
        Supports filtering by status, email, etc.
      operationId: listUsers
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            enum: [active, pending, suspended, deactivated]
        - name: email
          in: query
          schema:
            type: string
          description: Filter by email (partial match)
        - name: org_id
          in: query
          schema:
            type: string
          description: Filter by organization membership
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminUserResponse'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      summary: Create user (admin)
      description: Create a new user account as admin
      operationId: createUser
      tags: [User Management]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /users/{userId}:
    get:
      summary: Get user details
      operationId: getUser
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update user
      operationId: updateUser
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete user (hard delete)
      description: Permanently delete a user account
      operationId: deleteUser
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{userId}/suspend:
    post:
      summary: Suspend user account
      description: Temporarily disable a user account
      operationId: suspendUser
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for suspension
      responses:
        '200':
          description: User suspended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{userId}/activate:
    post:
      summary: Activate user account
      description: Reactivate a suspended user
      operationId: activateUser
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{userId}/sessions:
    get:
      summary: List user sessions
      description: Get all active sessions for a user
      operationId: listUserSessions
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of sessions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminSessionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Revoke all user sessions
      description: Force logout from all devices
      operationId: revokeAllUserSessions
      tags: [User Management]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sessions revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============ ORGANIZATION MANAGEMENT ============
  /organizations:
    get:
      summary: List all organizations
      operationId: listAllOrganizations
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [active, deleted]
      responses:
        '200':
          description: List of organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminOrganizationResponse'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organizations/{orgId}:
    get:
      summary: Get organization details (admin view)
      operationId: getOrganizationAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOrganizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Update organization
      operationId: updateOrganizationAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrgRequest'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOrganizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Delete organization
      description: Permanently delete an organization
      operationId: deleteOrganizationAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/members:
    get:
      summary: List all organization members
      operationId: listOrgMembersAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of members
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdminOrganizationMemberResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organizations/{orgId}/members/{userId}:
    patch:
      summary: Update member role
      operationId: updateOrgMemberAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum: [owner, admin, member, guest]
      responses:
        '200':
          description: Member updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminOrganizationMemberResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      summary: Remove member from organization
      operationId: removeOrgMemberAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/invitations:
    get:
      summary: List pending invitations
      operationId: listOrgInvitationsAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of invitations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvitationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organizations/{orgId}/invitations/{invitationId}:
    delete:
      summary: Cancel invitation
      operationId: cancelInvitationAdmin
      tags: [Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
        - name: invitationId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Invitation cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============ SSO ============
  /sso/saml/connections:
    get:
      summary: List SAML connections
      operationId: listSamlConnections
      tags: [SSO]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: SAML connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SsoConnection' }
              example:
                data:
                  - id: sso_123
                    type: saml
                    name: Okta SAML
                    status: active
                    domains: [acme.com]
                    config:
                      metadataUrl: https://acme.okta.com/app/metadata
                    createdAt: 2026-02-08T00:00:00Z
                    updatedAt: 2026-02-08T00:00:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create SAML connection
      operationId: createSamlConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSsoConnectionRequest'
            example:
              name: Okta SAML
              domains: [acme.com]
              status: active
              config:
                metadataUrl: https://acme.okta.com/app/metadata
      responses:
        '201':
          description: SAML connection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConnection'
              example:
                id: sso_123
                type: saml
                name: Okta SAML
                status: active
                domains: [acme.com]
                config:
                  metadataUrl: https://acme.okta.com/app/metadata
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /sso/saml/connections/{connectionId}:
    get:
      summary: Get SAML connection
      operationId: getSamlConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: SAML connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConnection'
              example:
                id: sso_123
                type: saml
                name: Okta SAML
                status: active
                domains: [acme.com]
                config:
                  metadataUrl: https://acme.okta.com/app/metadata
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update SAML connection
      operationId: updateSamlConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSsoConnectionRequest'
            example:
              status: disabled
              domains: [acme.com, acme.org]
      responses:
        '200':
          description: SAML connection updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConnection'
              example:
                id: sso_123
                type: saml
                name: Okta SAML
                status: disabled
                domains: [acme.com, acme.org]
                config:
                  metadataUrl: https://acme.okta.com/app/metadata
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete SAML connection
      operationId: deleteSamlConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: SAML connection deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /sso/oidc/connections:
    get:
      summary: List OIDC connections
      operationId: listOidcConnections
      tags: [SSO]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: OIDC connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SsoConnection' }
              example:
                data:
                  - id: sso_456
                    type: oidc
                    name: Azure AD
                    status: active
                    domains: [acme.com]
                    config:
                      issuerUrl: https://login.microsoftonline.com/tenant/v2.0
                      clientId: oidc_client
                    createdAt: 2026-02-08T00:00:00Z
                    updatedAt: 2026-02-08T00:00:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create OIDC connection
      operationId: createOidcConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSsoConnectionRequest'
            example:
              name: Azure AD
              domains: [acme.com]
              status: active
              config:
                issuerUrl: https://login.microsoftonline.com/tenant/v2.0
                clientId: oidc_client
      responses:
        '201':
          description: OIDC connection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConnection'
              example:
                id: sso_456
                type: oidc
                name: Azure AD
                status: active
                domains: [acme.com]
                config:
                  issuerUrl: https://login.microsoftonline.com/tenant/v2.0
                  clientId: oidc_client
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /sso/oidc/connections/{connectionId}:
    get:
      summary: Get OIDC connection
      operationId: getOidcConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OIDC connection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConnection'
              example:
                id: sso_456
                type: oidc
                name: Azure AD
                status: active
                domains: [acme.com]
                config:
                  issuerUrl: https://login.microsoftonline.com/tenant/v2.0
                  clientId: oidc_client
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update OIDC connection
      operationId: updateOidcConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSsoConnectionRequest'
            example:
              status: disabled
      responses:
        '200':
          description: OIDC connection updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SsoConnection'
              example:
                id: sso_456
                type: oidc
                name: Azure AD
                status: disabled
                domains: [acme.com]
                config:
                  issuerUrl: https://login.microsoftonline.com/tenant/v2.0
                  clientId: oidc_client
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete OIDC connection
      operationId: deleteOidcConnection
      tags: [SSO]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: OIDC connection deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/sso:
    patch:
      summary: Configure org-level SSO
      operationId: updateOrgSso
      tags: [SSO, Organization Management]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgSsoSettingsRequest'
            example:
              connectionId: sso_123
              required: true
              jitEnabled: true
              defaultRole: member
      responses:
        '200':
          description: Org SSO settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationSsoResponse'
              example:
                orgId: org_123
                connectionId: sso_123
                required: true
                jitEnabled: true
                defaultRole: member
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ DOMAINS ============
  /organizations/{orgId}/domains:
    get:
      summary: List organization domains
      operationId: listOrgDomains
      tags: [Domains]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Organization domains
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OrganizationDomain' }
              example:
                data:
                  - id: dom_123
                    domain: acme.com
                    verificationToken: verify_abc
                    verifiedAt: null
                    createdAt: 2026-02-08T00:00:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Add organization domain
      operationId: createOrgDomain
      tags: [Domains]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationDomainRequest'
            example:
              domain: acme.com
      responses:
        '201':
          description: Organization domain created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
              example:
                id: dom_123
                domain: acme.com
                verificationToken: verify_abc
                verifiedAt: null
                createdAt: 2026-02-08T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/domains/{domainId}/verify:
    post:
      summary: Verify organization domain
      operationId: verifyOrgDomain
      tags: [Domains]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
        - name: domainId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Organization domain verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDomain'
              example:
                id: dom_123
                domain: acme.com
                verificationToken: verify_abc
                verifiedAt: 2026-02-08T00:00:00Z
                createdAt: 2026-02-08T00:00:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/domains/{domainId}:
    delete:
      summary: Remove organization domain
      operationId: deleteOrgDomain
      tags: [Domains]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
        - name: domainId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Organization domain deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ ROLES & PERMISSIONS ============
  /organizations/{orgId}/roles:
    get:
      summary: List organization roles
      operationId: listOrgRoles
      tags: [Roles & Permissions]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Organization roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OrganizationRole' }
              example:
                data:
                  - id: role_123
                    name: billing_admin
                    permissions: [billing.read, billing.write]
                    createdAt: 2026-02-08T00:00:00Z
                    updatedAt: 2026-02-08T00:00:00Z
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      summary: Create organization role
      operationId: createOrgRole
      tags: [Roles & Permissions]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRoleRequest'
            example:
              name: billing_admin
              permissions: [billing.read, billing.write]
      responses:
        '201':
          description: Organization role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationRole'
              example:
                id: role_123
                name: billing_admin
                permissions: [billing.read, billing.write]
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /organizations/{orgId}/roles/{roleId}:
    patch:
      summary: Update organization role
      operationId: updateOrgRole
      tags: [Roles & Permissions]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
        - name: roleId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationRoleRequest'
            example:
              permissions: [billing.read]
      responses:
        '200':
          description: Organization role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationRole'
              example:
                id: role_123
                name: billing_admin
                permissions: [billing.read]
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete organization role
      operationId: deleteOrgRole
      tags: [Roles & Permissions]
      security:
        - bearerAuth: []
      parameters:
        - name: orgId
          in: path
          required: true
          schema: { type: string }
        - name: roleId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Organization role deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ BRANDING ============
  /branding:
    get:
      summary: Get tenant branding
      operationId: getBranding
      tags: [Branding]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Branding settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingResponse'
              example:
                logoUrl: https://cdn.example.com/logo.png
                faviconUrl: https://cdn.example.com/favicon.ico
                productName: Acme Vault
                supportEmail: support@acme.com
                primaryColor: '#0f172a'
                secondaryColor: '#22c55e'
                customCss: '.btn{border-radius:8px}'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    patch:
      summary: Update tenant branding
      operationId: updateBranding
      tags: [Branding]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBrandingRequest'
            example:
              productName: Acme Vault
              primaryColor: '#0f172a'
              secondaryColor: '#22c55e'
      responses:
        '200':
          description: Branding updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandingResponse'
              example:
                logoUrl: https://cdn.example.com/logo.png
                faviconUrl: https://cdn.example.com/favicon.ico
                productName: Acme Vault
                supportEmail: support@acme.com
                primaryColor: '#0f172a'
                secondaryColor: '#22c55e'
                customCss: '.btn{border-radius:8px}'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /themes:
    get:
      summary: Get hosted UI theme
      operationId: getTheme
      tags: [Branding]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Theme settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeResponse'
              example:
                theme:
                  layout: card
                  fontFamily: 'IBM Plex Sans'
                  borderRadius: 12
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    patch:
      summary: Update hosted UI theme
      operationId: updateTheme
      tags: [Branding]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateThemeRequest'
            example:
              theme:
                layout: card
                fontFamily: 'IBM Plex Sans'
                borderRadius: 12
      responses:
        '200':
          description: Theme updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeResponse'
              example:
                theme:
                  layout: card
                  fontFamily: 'IBM Plex Sans'
                  borderRadius: 12
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============ SCIM ============
  /scim/v2/Users:
    get:
      summary: List SCIM users
      operationId: scimListUsers
      tags: [SCIM]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: SCIM users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimListResponse'
              example:
                schemas: ['urn:ietf:params:scim:api:messages:2.0:ListResponse']
                totalResults: 1
                startIndex: 1
                itemsPerPage: 20
                Resources:
                  - id: scim_user_123
                    userName: user@acme.com
                    active: true
                    emails:
                      - value: user@acme.com
                        primary: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      summary: Create SCIM user
      operationId: scimCreateUser
      tags: [SCIM]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimUser'
            example:
              userName: user@acme.com
              active: true
              emails:
                - value: user@acme.com
                  primary: true
      responses:
        '201':
          description: SCIM user created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
              example:
                id: scim_user_123
                userName: user@acme.com
                active: true
                emails:
                  - value: user@acme.com
                    primary: true
        '400':
          $ref: '#/components/responses/BadRequest'

  /scim/v2/Users/{userId}:
    get:
      summary: Get SCIM user
      operationId: scimGetUser
      tags: [SCIM]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: SCIM user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
              example:
                id: scim_user_123
                userName: user@acme.com
                active: true
                emails:
                  - value: user@acme.com
                    primary: true
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update SCIM user
      operationId: scimPatchUser
      tags: [SCIM]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimPatchRequest'
            example:
              schemas: ['urn:ietf:params:scim:api:messages:2.0:PatchOp']
              Operations:
                - op: replace
                  path: active
                  value: false
      responses:
        '200':
          description: SCIM user updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimUser'
              example:
                id: scim_user_123
                userName: user@acme.com
                active: false
        '400':
          $ref: '#/components/responses/BadRequest'
    delete:
      summary: Delete SCIM user
      operationId: scimDeleteUser
      tags: [SCIM]
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: SCIM user deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /scim/v2/Groups:
    get:
      summary: List SCIM groups
      operationId: scimListGroups
      tags: [SCIM]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: SCIM groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimListResponse'
              example:
                schemas: ['urn:ietf:params:scim:api:messages:2.0:ListResponse']
                totalResults: 1
                startIndex: 1
                itemsPerPage: 20
                Resources:
                  - id: scim_group_123
                    displayName: Engineering
                    members: []
    post:
      summary: Create SCIM group
      operationId: scimCreateGroup
      tags: [SCIM]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimGroup'
            example:
              displayName: Engineering
              members: []
      responses:
        '201':
          description: SCIM group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
              example:
                id: scim_group_123
                displayName: Engineering
                members: []

  /scim/v2/Groups/{groupId}:
    get:
      summary: Get SCIM group
      operationId: scimGetGroup
      tags: [SCIM]
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: SCIM group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
              example:
                id: scim_group_123
                displayName: Engineering
                members: []
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      summary: Update SCIM group
      operationId: scimPatchGroup
      tags: [SCIM]
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScimPatchRequest'
            example:
              schemas: ['urn:ietf:params:scim:api:messages:2.0:PatchOp']
              Operations:
                - op: replace
                  path: displayName
                  value: Engineering
      responses:
        '200':
          description: SCIM group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimGroup'
              example:
                id: scim_group_123
                displayName: Engineering
                members: []
    delete:
      summary: Delete SCIM group
      operationId: scimDeleteGroup
      tags: [SCIM]
      security:
        - bearerAuth: []
      parameters:
        - name: groupId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: SCIM group deleted
        '404':
          $ref: '#/components/responses/NotFound'

  # ============ DIRECTORY ============
  /directory/ldap/connections:
    get:
      summary: List LDAP connections
      operationId: listLdapConnections
      tags: [Directory]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: LDAP connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/DirectoryConnection' }
              example:
                data:
                  - id: dir_123
                    type: ldap
                    name: Corporate LDAP
                    status: active
                    config:
                      host: ldap.acme.com
                      bindDn: cn=admin,dc=acme,dc=com
                    createdAt: 2026-02-08T00:00:00Z
                    updatedAt: 2026-02-08T00:00:00Z
    post:
      summary: Create LDAP connection
      operationId: createLdapConnection
      tags: [Directory]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDirectoryConnectionRequest'
            example:
              name: Corporate LDAP
              status: active
              config:
                host: ldap.acme.com
                bindDn: cn=admin,dc=acme,dc=com
      responses:
        '201':
          description: LDAP connection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryConnection'
              example:
                id: dir_123
                type: ldap
                name: Corporate LDAP
                status: active
                config:
                  host: ldap.acme.com
                  bindDn: cn=admin,dc=acme,dc=com
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z

  /directory/ldap/connections/{connectionId}:
    patch:
      summary: Update LDAP connection
      operationId: updateLdapConnection
      tags: [Directory]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDirectoryConnectionRequest'
            example:
              status: disabled
      responses:
        '200':
          description: LDAP connection updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryConnection'
              example:
                id: dir_123
                type: ldap
                name: Corporate LDAP
                status: disabled
                config:
                  host: ldap.acme.com
                  bindDn: cn=admin,dc=acme,dc=com
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z
    delete:
      summary: Delete LDAP connection
      operationId: deleteLdapConnection
      tags: [Directory]
      security:
        - bearerAuth: []
      parameters:
        - name: connectionId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: LDAP connection deleted

  # ============ SECURITY POLICIES ============
  /security/policies:
    post:
      summary: Create security policy
      operationId: createSecurityPolicy
      tags: [Security Policies]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecurityPolicyRequest'
            example:
              name: step_up_admin
              enabled: true
              conditions:
                routePrefix: /admin
              actions:
                requireMfa: true
      responses:
        '201':
          description: Security policy created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy'
              example:
                id: pol_123
                name: step_up_admin
                enabled: true
                conditions:
                  routePrefix: /admin
                actions:
                  requireMfa: true
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z

  /security/policies/{policyId}:
    patch:
      summary: Update security policy
      operationId: updateSecurityPolicy
      tags: [Security Policies]
      security:
        - bearerAuth: []
      parameters:
        - name: policyId
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecurityPolicyRequest'
            example:
              enabled: false
      responses:
        '200':
          description: Security policy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityPolicy'
              example:
                id: pol_123
                name: step_up_admin
                enabled: false
                conditions:
                  routePrefix: /admin
                actions:
                  requireMfa: true
                createdAt: 2026-02-08T00:00:00Z
                updatedAt: 2026-02-08T00:00:00Z

  # ============ AUDIT EXPORTS ============
  /audit-logs/exports:
    post:
      summary: Create audit export
      operationId: createAuditExport
      tags: [Audit Exports]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuditExportRequest'
            example:
              format: json
              from: 2026-02-01T00:00:00Z
              to: 2026-02-08T00:00:00Z
      responses:
        '201':
          description: Audit export created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditExport'
              example:
                id: export_123
                status: queued
                format: json
                from: 2026-02-01T00:00:00Z
                to: 2026-02-08T00:00:00Z
                createdAt: 2026-02-08T00:00:00Z
    get:
      summary: List audit exports
      operationId: listAuditExports
      tags: [Audit Exports]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Audit exports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AuditExport' }
              example:
                data:
                  - id: export_123
                    status: queued
                    format: json
                    from: 2026-02-01T00:00:00Z
                    to: 2026-02-08T00:00:00Z
                    createdAt: 2026-02-08T00:00:00Z

  /audit-logs/webhooks:
    post:
      summary: Create audit webhook
      operationId: createAuditWebhook
      tags: [Audit Exports]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuditWebhookRequest'
            example:
              url: https://siem.acme.com/vault/audit
              secret: supersecret
      responses:
        '201':
          description: Audit webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditWebhook'
              example:
                id: wh_123
                url: https://siem.acme.com/vault/audit
                status: active
                secretLastFour: 9f12
                createdAt: 2026-02-08T00:00:00Z
    get:
      summary: List audit webhooks
      operationId: listAuditWebhooks
      tags: [Audit Exports]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Audit webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/AuditWebhook' }
              example:
                data:
                  - id: wh_123
                    url: https://siem.acme.com/vault/audit
                    status: active
                    secretLastFour: 9f12
                    createdAt: 2026-02-08T00:00:00Z

  /audit-logs/webhooks/{webhookId}:
    delete:
      summary: Delete audit webhook
      operationId: deleteAuditWebhook
      tags: [Audit Exports]
      security:
        - bearerAuth: []
      parameters:
        - name: webhookId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204':
          description: Audit webhook deleted

  # ============ AUDIT LOGS ============
  /audit-logs:
    get:
      summary: Query audit logs
      description: |
        Search and filter audit logs.
        Only accessible by admins.
      operationId: queryAuditLogs
      tags: [Audit Logs]
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: per_page
          in: query
          schema:
            type: integer
            default: 50
            maximum: 500
        - name: user_id
          in: query
          schema:
            type: string
          description: Filter by user
        - name: action
          in: query
          schema:
            type: string
          description: Filter by action type
        - name: resource_type
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: success
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Audit log entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
                  pagination:
                    $ref: '#/components/schemas/PaginationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============ TENANT SETTINGS ============
  /settings:
    get:
      summary: Get tenant settings
      operationId: getTenantSettings
      tags: [Tenant Settings]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Tenant settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    patch:
      summary: Update tenant settings
      operationId: updateTenantSettings
      tags: [Tenant Settings]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantSettingsRequest'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /settings/mfa:
    patch:
      summary: Update MFA enforcement settings
      operationId: updateMfaSettings
      tags: [Tenant Settings]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMfaSettingsRequest'
            example:
              required: true
              allowedMethods: [totp, webauthn, backup_codes]
      responses:
        '200':
          description: MFA settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaSettingsResponse'
              example:
                required: true
                allowedMethods: [totp, webauthn, backup_codes]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============ SYSTEM ============
  /system/health:
    get:
      summary: System health check
      description: Detailed health check including dependencies
      operationId: systemHealth
      tags: [System]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemHealthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    Forbidden:
      description: Admin permission required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object }

    MessageResponse:
      type: object
      properties:
        message: { type: string }

    PaginationResponse:
      type: object
      properties:
        page: { type: integer }
        perPage: { type: integer }
        total: { type: integer }
        totalPages: { type: integer }

    # Dashboard
    DashboardResponse:
      type: object
      properties:
        totalUsers: { type: integer }
        activeUsers: { type: integer }
        newUsersToday: { type: integer }
        totalOrganizations: { type: integer }
        activeSessions: { type: integer }
        pendingInvitations: { type: integer }
        recentActivity:
          type: array
          items: { $ref: '#/components/schemas/ActivitySummary' }

    ActivitySummary:
      type: object
      properties:
        action: { type: string }
        count: { type: integer }
        timestamp: { type: string, format: date-time }

    MetricsResponse:
      type: object
      properties:
        signupsOverTime:
          type: array
          items:
            type: object
            properties:
              date: { type: string }
              count: { type: integer }
        loginsOverTime:
          type: array
          items:
            type: object
            properties:
              date: { type: string }
              count: { type: integer }
        oauthUsage:
          type: object
          additionalProperties:
            type: integer

    # User Management
    CreateUserRequest:
      type: object
      required: [email]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 12 }
        name: { type: string }
        emailVerified: { type: boolean }
        status: { type: string, enum: [active, pending, suspended] }

    UpdateUserRequest:
      type: object
      properties:
        email: { type: string, format: email }
        name: { type: string }
        status: { type: string, enum: [active, pending, suspended, deactivated] }

    AdminUserResponse:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        emailVerified: { type: boolean }
        name: { type: string, nullable: true }
        status: { type: string }
        mfaEnabled: { type: boolean }
        lastLoginAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        failedLoginAttempts: { type: integer }
        lockedUntil: { type: string, format: date-time, nullable: true }
        organizationCount: { type: integer }

    AdminSessionResponse:
      type: object
      properties:
        id: { type: string }
        userId: { type: string }
        ipAddress: { type: string, nullable: true }
        userAgent: { type: string, nullable: true }
        deviceFingerprint: { type: string, nullable: true }
        mfaVerified: { type: boolean }
        createdAt: { type: string, format: date-time }
        lastActivityAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time }
        status: { type: string }

    # Organization Management
    UpdateOrgRequest:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        logoUrl: { type: string }
        website: { type: string }
        maxMembers: { type: integer }
        ssoRequired: { type: boolean }
        status: { type: string }

    AdminOrganizationResponse:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        description: { type: string, nullable: true }
        logoUrl: { type: string, nullable: true }
        website: { type: string, nullable: true }
        memberCount: { type: integer }
        maxMembers: { type: integer, nullable: true }
        ssoRequired: { type: boolean }
        status: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt: { type: string, format: date-time, nullable: true }
        ownerId: { type: string }

    AdminOrganizationMemberResponse:
      type: object
      properties:
        id: { type: string }
        userId: { type: string }
        email: { type: string }
        name: { type: string, nullable: true }
        role: { type: string }
        status: { type: string }
        invitedBy: { type: string, nullable: true }
        invitedAt: { type: string, format: date-time, nullable: true }
        joinedAt: { type: string, format: date-time, nullable: true }

    InvitationResponse:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        role: { type: string }
        invitedBy:
          type: object
          properties:
            id: { type: string }
            email: { type: string }
        expiresAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }

    # Audit Logs
    AuditLogEntry:
      type: object
      properties:
        id: { type: string }
        timestamp: { type: string, format: date-time }
        userId: { type: string, nullable: true }
        userEmail: { type: string, nullable: true }
        sessionId: { type: string, nullable: true }
        action: { type: string }
        resourceType: { type: string }
        resourceId: { type: string }
        ipAddress: { type: string, nullable: true }
        userAgent: { type: string, nullable: true }
        success: { type: boolean }
        error: { type: string, nullable: true }
        metadata: { type: object }

    # Tenant Settings
    TenantSettings:
      type: object
      properties:
        id: { type: string }
        slug: { type: string }
        name: { type: string }
        allowedDomains:
          type: array
          items: { type: string }
        passwordPolicy:
          type: object
          properties:
            minLength: { type: integer }
            requireUppercase: { type: boolean }
            requireLowercase: { type: boolean }
            requireNumbers: { type: boolean }
            requireSpecial: { type: boolean }
        mfaPolicy:
          type: object
          properties:
            enabled: { type: boolean }
            required: { type: boolean }
            allowedMethods:
              type: array
              items: { type: string }
        oauthProviders:
          type: array
          items: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    UpdateTenantSettingsRequest:
      type: object
      properties:
        name: { type: string }
        allowedDomains:
          type: array
          items: { type: string }
        passwordPolicy:
          type: object
          properties:
            minLength: { type: integer }
            requireUppercase: { type: boolean }
            requireLowercase: { type: boolean }
            requireNumbers: { type: boolean }
            requireSpecial: { type: boolean }
        mfaPolicy:
          type: object
          properties:
            enabled: { type: boolean }
            required: { type: boolean }

    UpdateMfaSettingsRequest:
      type: object
      properties:
        required: { type: boolean }
        allowedMethods:
          type: array
          items: { type: string, enum: [totp, email, sms, webauthn, backup_codes] }
      example:
        required: true
        allowedMethods: [totp, webauthn, backup_codes]

    MfaSettingsResponse:
      type: object
      properties:
        required: { type: boolean }
        allowedMethods:
          type: array
          items: { type: string }
      example:
        required: true
        allowedMethods: [totp, webauthn, backup_codes]

    # SSO
    SsoConnection:
      type: object
      properties:
        id: { type: string }
        type: { type: string, enum: [saml, oidc] }
        name: { type: string }
        status: { type: string, enum: [active, disabled] }
        domains:
          type: array
          items: { type: string }
        config: { type: object }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      example:
        id: sso_123
        type: saml
        name: Okta SAML
        status: active
        domains: [acme.com]
        config:
          metadataUrl: https://acme.okta.com/app/metadata
        createdAt: 2026-02-08T00:00:00Z
        updatedAt: 2026-02-08T00:00:00Z

    CreateSsoConnectionRequest:
      type: object
      required: [name, config]
      properties:
        name: { type: string }
        domains:
          type: array
          items: { type: string }
        config: { type: object }
        status: { type: string, enum: [active, disabled] }
      example:
        name: Okta SAML
        domains: [acme.com]
        status: active
        config:
          metadataUrl: https://acme.okta.com/app/metadata

    UpdateSsoConnectionRequest:
      type: object
      properties:
        name: { type: string }
        domains:
          type: array
          items: { type: string }
        config: { type: object }
        status: { type: string, enum: [active, disabled] }
      example:
        status: disabled
        domains: [acme.com, acme.org]

    OrgSsoSettingsRequest:
      type: object
      properties:
        connectionId: { type: string }
        required: { type: boolean }
        jitEnabled: { type: boolean }
        defaultRole: { type: string }
      example:
        connectionId: sso_123
        required: true
        jitEnabled: true
        defaultRole: member

    OrganizationSsoResponse:
      type: object
      properties:
        orgId: { type: string }
        connectionId: { type: string, nullable: true }
        required: { type: boolean }
        jitEnabled: { type: boolean }
        defaultRole: { type: string }
      example:
        orgId: org_123
        connectionId: sso_123
        required: true
        jitEnabled: true
        defaultRole: member

    # Domains
    OrganizationDomain:
      type: object
      properties:
        id: { type: string }
        domain: { type: string }
        verificationToken: { type: string }
        verifiedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
      example:
        id: dom_123
        domain: acme.com
        verificationToken: verify_abc
        verifiedAt: null
        createdAt: 2026-02-08T00:00:00Z

    CreateOrganizationDomainRequest:
      type: object
      required: [domain]
      properties:
        domain: { type: string }
      example:
        domain: acme.com

    # Roles & Permissions
    OrganizationRole:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        permissions:
          type: array
          items: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      example:
        id: role_123
        name: billing_admin
        permissions: [billing.read, billing.write]
        createdAt: 2026-02-08T00:00:00Z
        updatedAt: 2026-02-08T00:00:00Z

    CreateOrganizationRoleRequest:
      type: object
      required: [name]
      properties:
        name: { type: string }
        permissions:
          type: array
          items: { type: string }
      example:
        name: billing_admin
        permissions: [billing.read, billing.write]

    UpdateOrganizationRoleRequest:
      type: object
      properties:
        name: { type: string }
        permissions:
          type: array
          items: { type: string }

    # Branding
    BrandingResponse:
      type: object
      properties:
        logoUrl: { type: string, nullable: true }
        faviconUrl: { type: string, nullable: true }
        productName: { type: string, nullable: true }
        supportEmail: { type: string, nullable: true }
        primaryColor: { type: string, nullable: true }
        secondaryColor: { type: string, nullable: true }
        customCss: { type: string, nullable: true }
      example:
        logoUrl: https://cdn.example.com/logo.png
        faviconUrl: https://cdn.example.com/favicon.ico
        productName: Acme Vault
        supportEmail: support@acme.com
        primaryColor: '#0f172a'
        secondaryColor: '#22c55e'
        customCss: '.btn{border-radius:8px}'

    UpdateBrandingRequest:
      type: object
      properties:
        logoUrl: { type: string, nullable: true }
        faviconUrl: { type: string, nullable: true }
        productName: { type: string, nullable: true }
        supportEmail: { type: string, nullable: true }
        primaryColor: { type: string, nullable: true }
        secondaryColor: { type: string, nullable: true }
        customCss: { type: string, nullable: true }
      example:
        productName: Acme Vault
        primaryColor: '#0f172a'
        secondaryColor: '#22c55e'

    ThemeResponse:
      type: object
      properties:
        theme: { type: object }
      example:
        theme:
          layout: card
          fontFamily: 'IBM Plex Sans'
          borderRadius: 12

    UpdateThemeRequest:
      type: object
      properties:
        theme: { type: object }
      example:
        theme:
          layout: card
          fontFamily: 'IBM Plex Sans'
          borderRadius: 12

    # SCIM
    ScimListResponse:
      type: object
      properties:
        schemas:
          type: array
          items: { type: string }
        totalResults: { type: integer }
        startIndex: { type: integer }
        itemsPerPage: { type: integer }
        Resources:
          type: array
          items: { type: object }
      example:
        schemas: ['urn:ietf:params:scim:api:messages:2.0:ListResponse']
        totalResults: 0
        startIndex: 1
        itemsPerPage: 20
        Resources: []

    ScimUser:
      type: object
      properties:
        id: { type: string }
        userName: { type: string }
        name: { type: object }
        active: { type: boolean }
        emails:
          type: array
          items: { type: object }
        externalId: { type: string }
        meta: { type: object }
      example:
        id: scim_user_123
        userName: user@acme.com
        name:
          givenName: Jane
          familyName: Doe
        active: true
        emails:
          - value: user@acme.com
            primary: true
        externalId: ext_123
        meta:
          resourceType: User

    ScimGroup:
      type: object
      properties:
        id: { type: string }
        displayName: { type: string }
        members:
          type: array
          items: { type: object }
        meta: { type: object }
      example:
        id: scim_group_123
        displayName: Engineering
        members: []
        meta:
          resourceType: Group

    ScimPatchRequest:
      type: object
      properties:
        schemas:
          type: array
          items: { type: string }
        Operations:
          type: array
          items: { type: object }
      example:
        schemas: ['urn:ietf:params:scim:api:messages:2.0:PatchOp']
        Operations:
          - op: replace
            path: active
            value: false

    # Directory
    DirectoryConnection:
      type: object
      properties:
        id: { type: string }
        type: { type: string, enum: [ldap] }
        name: { type: string }
        status: { type: string, enum: [active, disabled] }
        config: { type: object }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      example:
        id: dir_123
        type: ldap
        name: Corporate LDAP
        status: active
        config:
          host: ldap.acme.com
          bindDn: cn=admin,dc=acme,dc=com
        createdAt: 2026-02-08T00:00:00Z
        updatedAt: 2026-02-08T00:00:00Z

    CreateDirectoryConnectionRequest:
      type: object
      required: [name, config]
      properties:
        name: { type: string }
        config: { type: object }
        status: { type: string, enum: [active, disabled] }
      example:
        name: Corporate LDAP
        status: active
        config:
          host: ldap.acme.com
          bindDn: cn=admin,dc=acme,dc=com

    UpdateDirectoryConnectionRequest:
      type: object
      properties:
        name: { type: string }
        config: { type: object }
        status: { type: string, enum: [active, disabled] }

    # Security Policies
    SecurityPolicy:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        enabled: { type: boolean }
        conditions: { type: object }
        actions: { type: object }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      example:
        id: pol_123
        name: step_up_admin
        enabled: true
        conditions:
          routePrefix: /admin
        actions:
          requireMfa: true
        createdAt: 2026-02-08T00:00:00Z
        updatedAt: 2026-02-08T00:00:00Z

    CreateSecurityPolicyRequest:
      type: object
      required: [name, conditions, actions]
      properties:
        name: { type: string }
        enabled: { type: boolean }
        conditions: { type: object }
        actions: { type: object }
      example:
        name: step_up_admin
        enabled: true
        conditions:
          routePrefix: /admin
        actions:
          requireMfa: true

    UpdateSecurityPolicyRequest:
      type: object
      properties:
        name: { type: string }
        enabled: { type: boolean }
        conditions: { type: object }
        actions: { type: object }

    # Audit Exports
    AuditExport:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [queued, running, complete, failed] }
        format: { type: string, enum: [json, csv] }
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
      example:
        id: export_123
        status: queued
        format: json
        from: 2026-02-01T00:00:00Z
        to: 2026-02-08T00:00:00Z
        createdAt: 2026-02-08T00:00:00Z

    CreateAuditExportRequest:
      type: object
      required: [format, from, to]
      properties:
        format: { type: string, enum: [json, csv] }
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }
      example:
        format: json
        from: 2026-02-01T00:00:00Z
        to: 2026-02-08T00:00:00Z

    AuditWebhook:
      type: object
      properties:
        id: { type: string }
        url: { type: string }
        status: { type: string, enum: [active, disabled] }
        secretLastFour: { type: string }
        createdAt: { type: string, format: date-time }
      example:
        id: wh_123
        url: https://siem.acme.com/vault/audit
        status: active
        secretLastFour: 9f12
        createdAt: 2026-02-08T00:00:00Z

    CreateAuditWebhookRequest:
      type: object
      required: [url, secret]
      properties:
        url: { type: string }
        secret: { type: string }
      example:
        url: https://siem.acme.com/vault/audit
        secret: supersecret

    # System
    SystemHealthResponse:
      type: object
      properties:
        status: { type: string }
        timestamp: { type: string, format: date-time }
        version: { type: string }
        services:
          type: object
          properties:
            database:
              type: object
              properties:
                status: { type: string }
                latency: { type: integer }
            redis:
              type: object
              properties:
                status: { type: string }
                latency: { type: integer }
