apiVersion: apps/v1
kind: Deployment
metadata:
  name: vault
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: vault
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 1000m
              memory: 1024Mi
