global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers: []

rule_files: []

scrape_configs:
  - job_name: 'vault-server'
    static_configs:
      - targets: ['vault:9090']
    metrics_path: /metrics
    scrape_interval: 15s
    scrape_timeout: 10s
